#pag-inteira {
  display: flex;
  background-color: #87cefa;
  height: 98vh;
}

.perfil {
  background-color: #07064a;
  width: 400px;
  display: flex;
}

.img-perfil {
  margin: 200px 110px 20px 125px;
}

.img-perfil-2 {
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  border-radius: 500px;
  align-items: center;
}

.menu {
  text-align: center;
  font-size: 30px;
}

.g-mail {
  border-radius: 50px;
  width: 90px;
}

.descrição-2 {
  text-align: left;
  font-size: 15px;
  margin-top: 120px;
  height: 150px;
  width: none;
  padding: 20px;
}

h1 {
  font-size: 50px;
}

span {
  color: brown;
}

a {
  text-decoration: none;
}

.linkmenu:hover {
  text-decoration: none;
  color: black;
  background-color: #87cefa;
  border-radius: 100px;
  padding: 5px;
}

li::marker {
  font-weight: bold;
}
